@import "~bulma";

// General

.main-container {
  max-width:800px;
  margin:80px auto;

}
.tab-pane {
  display: none;
  &.is-active {
    display:block;
  }
}

.table {
  margin:20px 0;
}
.progress {
  margin:10px 0px;
}
// Modules
.counter {
  padding:5px 10px;
  font-size:22px;
  * {
    vertical-align: middle;
  }
  .count {
    width:50px;
    display:inline-block;
    text-align:center;
    &.left {
      text-align: left;
    }
  }
  a {
    margin:5px;
  }
}
#all-data {
  margin-top:60px;
}
