@import "~bulma";

// General

.main-container {
  max-width:800px;
  padding:40px;
  margin:20px auto;
}
.tab-pane {
  display: none;
  &.is-active {
    display:block;
  }
}

.hidden {
  display:none;
}
// Modules

.table {
  margin:20px 0;
}

.progress {
  margin:10px 0px;
}

.counter {
  padding:5px 10px;
  font-size:22px;
  * {
    vertical-align: middle;
  }
  .count {
    width:50px;
    display:inline-block;
    text-align:center;
    &.left {
      text-align: left;
    }
  }
  a {
    margin:5px;
  }
}
#all-data {
  margin-top:60px;
}

//
//// Mobile
//// This applies from 600px onwards
@media (max-width: 500px) {
  body {
    width:auto;
  }
  .main-container {
    width:auto;
    margin:0 0px;
   // padding:0px 20px;
  }

}

.signin {
  width: 100%;
  text-align: center;
  > div {
    margin: 35px auto;
    display: inline-block;
  }
}
