@import "~bulma";

// General
body {
  margin:40px 60px;
  width:100%;
}
.tab-pane {
  display: none;
  &.is-active {
    display:block;
  }
}

// Modules
.counter {
  padding:5px 10px;
  font-size:22px;
  * {
    vertical-align: middle;
  }
  a {
    margin:5px;
  }
}
